@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
body {
  @apply font-sans text-base;
  overflow-x: hidden;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.font-raleway{
  font-family: 'Raleway', sans-serif;
}
.font-redhat{
  font-family: 'Red Hat Display', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffff;
    --foreground: #ededed;
  }
}

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
@keyframes scaleUp {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.scale-up {
  animation: scaleUp 1s ease-in-out infinite;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.box {
  border: 1px solid;
  border-image: linear-gradient(to right, red, blue) 1;
}
